body {
    font-family: 'Quicksand', sans-serif;
}

header {
    height: 90px;
}

.navbar-brand {
    position: absolute;
    top: 8%;
}

.navbar {
    padding: 25px 0;
}

.navbar .navbar-nav .nav-item {
    font-weight: bold;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.right-nav-list ul {
    list-style: none;
}

.right-nav-list li {
    text-decoration: none;
    padding: 0 15px;
}

.right-nav-list li:last-child a {
    padding: 5px !important;
    color: #d13526 !important;
    border-radius: 20px;
}

.right-nav-list li:last-child:hover,
.right-nav-list li:last-child a:hover {
    background-color: #d13526;
    color: white !important;

}

.right-nav-list li:last-child {
    border: 2px solid #d13526;
    border-radius: 20px;
}

.right-nav-list li a {
    font-weight: bold;
}

.get-started-btn {
    border: 2px solid #d13526;
    padding: 5px 15px !important;
    font-weight: 900 !important;
    border-radius: 20px;
    box-sizing: border-box;
    color: #d13526;

}

.get-started-btn:hover {
    background-color: #d13526;
    color: white !important;
}

/* banner section styling start */
.banner-section .banner-img {
    background-image: url('../images/banner.webp');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -25px;
    position: relative;
}

.banner-section .banner-txt>div {
    color: white;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

}

.banner-txt p {
    font-weight: 900;
    font-size: 20px;
    font-size: 28px;
}

.banner-txt h1 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 30px;
}

.banner-txt .banner-cta {
    background: rgb(252, 160, 1);
    padding: 15px 40px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 24px;
}

.banner-txt .banner-cta:hover {
    background: transparent;
    border: 2px solid rgb(252, 160, 1);
    color: rgb(252, 160, 1);
}

/* banner section styling start */
/* service section styling start */
.services-section {
    padding: 100px 0;
}

.service-wrapper {
    text-align: center;

}

.service-wrapper img {
    margin-bottom: 30px;
}

.service-wrapper p {
    font-size: 18px;
    font-weight: 500;
}

.service-head {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 80px;
}

/* service section styling end */
/* what we do styling start*/
.what-we-do-section {
    background-image: url('../images/what_we_do_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.what-we-do-row {
    margin-right: 0;
}



.what-we-do-row .get-started-btn {}

/* what we do styling end*/
/* showcase section styling start*/
.showcase-section {
    padding: 100px 0;
}

.carousel-captn {
    text-align: center;
}

.showcase-section .carousel-captn h2 {
    color: #fcd40a;
    font-weight: bolder;
    font-size: 40px;
}


.showcase-section .carousel-control-next {
    right: -10%;
}

.showcase-section .carousel-control-prev {
    left: -10%;
}

.showcase-section .carousel-captn p {
    padding: 0 180px;
}

.showcase-section .carousel-control-next-icon,
.showcase-section .carousel-control-prev-icon {
    background-image: none;
    position: absolute;
    top: 56%;
}

.showcase-section .carousel-control-prev-icon {
    left: 25%;
}

.showcase-section .carousel-control-next-icon .svg-inline--fa.fa-angle-right.fa-w-8 {
    display: none !important;
}

/* showcase section styling ends */

/* tailor-made-section styling starts */
.tailor-made-section {
    background-image: url('../images/tailor_made_bg.webp');
    background-size: cover;
    position: relative;
}

.recipe-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    /* /* transform: translateY(-50%); */
}

.trait-items span:first-child {
    padding: 10px 10px;
    background: #fcd40a;
}

.trait-items span:first-child .fa-check {
    color: white;
    font-size: 18px;
}

.trait-items span:nth-child(2) {
    background: #362e3d;
    color: white;
    padding: 10px 50px 10px 12px;
    margin-left: -4px;
}


/* tailor-made-section styling end */




/* Mediaquery */
@media screen and (min-width: 900px) {
    .navbar-nav {
        flex-direction: row;
    }

    .navbar .navbar-nav .nav-item {
        display: inline-block;
        padding: 0 15px;
    }
}