/* common styling starts */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
}


.get-started-btn {
    border: 2px solid #d13526;
    padding: 5px 15px !important;
    font-weight: 900 !important;
    border-radius: 20px;
    box-sizing: border-box;
    color: #d13526;
    display: inline-block;

}

.get-started-btn:hover {
    background-color: #d13526;
    color: white !important;
}

/* common styling ends */

/* header styling starts */
header {
    height: 90px;
}

.navbar-brand {
    position: absolute;
    top: 8%;
}

.navbar {
    padding: 25px 0;
}

.navbar .navbar-nav .nav-item {
    font-weight: bold;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.right-nav-list ul {
    list-style: none;
}

.right-nav-list li {
    text-decoration: none;
    padding: 0 15px;
}

.right-nav-list li:last-child a {
    padding: 5px !important;
    color: #d13526 !important;
    border-radius: 20px;
}

.right-nav-list li:last-child:hover,
.right-nav-list li:last-child a:hover {
    background-color: #d13526;
    color: white !important;

}

.right-nav-list li:last-child {
    border: 2px solid #d13526;
    border-radius: 20px;
}

.right-nav-list li a {
    font-weight: bold;
}

/* header styling ends */

/* sidebar styling starts */
.sidebar img {
    cursor: pointer;
}

.sidebar .sidebar-menu {
    background: rgb(54, 46, 61);
    height: 100vh;
    position: absolute;
    top: 0;
    color: white;
    right: -999px;
    /* left: auto; */
    padding: 85px 30px 30px 30px;

}

.sidebar-menu .sidebar-menu-list {
    list-style: none;
    padding: 0;
}

.sidebar-menu .sidebar-menu-list li {
    padding: 8px 0;
}

.sidebar-menu .sidebar-menu-list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white
}

.sidebar-menu .serving-locations {
    font-style: italic;
    font-size: 16px;
}

.sidebar-menu .contacts {
    padding-top: 10px;
}

.sidebar-menu .close-sidebar {
    position: absolute;
    top: 8%;
    font-size: 25px;
}

.sidebar-menu .contacts a {
    color: white;
    padding: 0 10px;
    font-size: 20px;
}

/* sidebR styling ends */
/* social icons */
.social-icons {
    position: fixed;
    top: 20%;
    left: 1%;
    background: white;
    opacity: 0.8;
}

.social-icons a {
    padding: 8px 10px;
    display: inline-block;
    font-size: 20px;

}

/* banner section styling start */


.banner-section .banner-img {
    background-image: url('../images/banner.webp');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -45px;
    position: relative;
}

.banner-section .banner-txt>div {
    color: white;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

}

.banner-txt p {
    font-weight: 900;
    font-size: 20px;
    font-size: 28px;
}

.banner-txt h1 {
    font-weight: 900;
    font-size: 60px;
    margin-bottom: 30px;
}

.banner-txt .banner-cta {
    background: rgb(252, 160, 1);
    padding: 15px 40px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 24px;
}

.banner-txt .banner-cta:hover {
    background: transparent;
    border: 2px solid rgb(252, 160, 1);
    color: rgb(252, 160, 1);
}

/* banner section styling start */
/* service section styling start */
.services-section {
    padding: 100px 0;
}

.service-wrapper {
    text-align: center;

}

.service-row {
    padding: 0 150px;
}

.service-wrapper img {
    margin-bottom: 30px;
}

.service-wrapper p {
    font-size: 18px;
    font-weight: 500;
}

.service-head {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 80px;
}

/* service section styling end */
/* what we do styling start*/
.what-we-do-section.lazy {
    background-image: none;
    background-color: #F1F1FA;
}

.what-we-do-section {
    background-image: url('../images/what_we_do_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.what-we-do-row {
    margin-right: 0;
}



.what-we-do-row .get-started-btn {}

/* what we do styling end*/
/* showcase section styling start*/
.showcase-section {
    padding: 100px 0;
}

.carousel-captn {
    text-align: center;
}

.showcase-section .carousel-captn h2 {
    color: #fcd40a;
    font-weight: bolder;
    font-size: 40px;
}


.showcase-section .carousel-control-next {
    right: -10%;
}

.showcase-section .carousel-control-prev {
    left: -10%;
}

.showcase-section .carousel-captn p {
    padding: 0 180px;
}

.showcase-section .carousel-control-next-icon,
.showcase-section .carousel-control-prev-icon {
    background-image: none;
    position: absolute;
    top: 53%;
}

.showcase-section .carousel-control-prev-icon {
    left: 25%;
}

.showcase-section .carousel-control-next-icon .svg-inline--fa.fa-angle-right.fa-w-8 {
    display: none !important;
}

/* showcase section styling ends */

/* tailor-made-section styling starts */
.tailor-made-section {
    background-image: url('../images/tailor_made_bg.webp');
    background-size: cover;
    position: relative;
}

.recipe-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
    transform: translateY(-50%);
    /* /* transform: translateY(-50%); */
}

.trait-items:first-child {
    margin-top: 55px;
}

.trait-items span:first-child {
    padding: 10px 10px;
    background: #fcd40a;
    display: inline-block;
}



.trait-items {
    margin-bottom: 40px;
}

.trait-items span:first-child .fa-check {
    color: white;
    font-size: 18px;
}

.trait-items span:nth-child(2) {
    background: #362e3d;
    color: white;
    padding: 10px 50px 10px 12px;
    margin-left: -4px;
    font-weight: 700;
    min-width: 240px;
    display: inline-block;
}

.traits-wrapper {
    margin-bottom: 55px;
}

/* tailor-made-section styling end */
/* nutriment section styling start */
.nutriment-section {
    background-image: url('../images/nutriments_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
}

.nutriment-row {
    margin-right: 0;
}

.nutriment-row .trait-items {
    margin-bottom: 0;
}

.nutriment-row span:first-child {
    border: 2px solid #d13526;
    background: transparent;
    padding: 0px 6px;
    border-radius: 3px;
}

.nutriment-row span:first-child .fa-times {
    color: #d13526;
}

.nutriment-row .trait-items span:nth-child(2) {
    background: transparent;
    color: black;
    font-size: 20px;
    padding: 5px 50px 5px 12px;
}

.nutriment-row .trait-items:last-child span:first-child {
    padding: 5px 10px;
    background: #fcd40a;
    border: none;
    border-radius: 3px;
}

.nutriment-row .trait-items:last-child span:nth-child(2) {
    font-size: 30px;
    color: #fcd40a;

}

.nutriment-section .get-started-btn {
    margin-bottom: 30px;
}

/* nutriment section styling end */
/* testimonial section styling starts */
.testimonial-section {
    padding-bottom: 30px;
}

.testimonial-heading {
    margin-bottom: 120px;
}

.testimonial-heading h1 {
    color: #fcd40a;
    font-weight: 800;
    margin-bottom: 20px;
}

.testimonial-card {
    background-color: rgb(54, 46, 61);
    color: #f8eed3;
    background-image: url('../images/quotes.webp');
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 30px 80px 30px;
    height: 500px;
}

.testimonial-card .person-testimonial {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    line-height: 45px;
    margin-top: 30px;

}

.testimonial-card .designation {
    color: #5f575d;
}

.testimonial-card img {
    position: relative;
    margin-top: -45%;
}

/* testimonial section styling ends */
/* healthy diet section styling starts */
.healthy-diet-section {
    background-image: url('../images/healthy_diet_bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.healthy-diet-description h2 {
    color: #fcd40a;
    font-weight: 700;
    margin-bottom: 50px;
}

.diet-plan h6 {
    font-weight: 700;
    margin-bottom: 20px;
}

.diet-plan p {
    margin-bottom: 20px;
}

.healthy-diet-description {
    padding-top: 30px;
}


/* healthy diet section styling ends*/
/* faq section start */

.faq-section {
    padding-bottom: 30px;
}

.faq-heading h1 {
    margin-bottom: 30px;
    color: #fcd40a;
}

.faq-heading p {
    margin-bottom: 50px;
    padding: 0 180px;
}

.faq-section #accordion h5 .btn-link {
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}

.faq-section #accordion h5 .btn-link.collapsed {
    font-weight: normal;
}

.faq-section #accordion .card {
    border-left: none;
    border-right: none;
}

.faq-section #accordion h5 .btn-link:after {
    content: "\f062";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    right: 3%;
    color: #d13526;
}

.faq-section #accordion h5 .btn-link.collapsed::after {
    content: "\f063";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    position: absolute;
    right: 3%;
    color: #d13526;
}

.faq-section .card-header {
    border-bottom: none;
}

/* faq section ends */
/* footer styling starts*/
footer {
    font-size: 12px;
    background-color: rgb(54, 46, 61);
    color: white;
    padding: 20px 0;
}

footer .tos ul {
    list-style: none;
    margin-bottom: 0;
}

footer .copy-right p {
    margin-bottom: 0;
}

footer .tos ul li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: white;
}

/* footer styling ends */

/* Mediaquery */
@media screen and (min-width: 993px) {
    .navbar-nav {
        flex-direction: row;
    }

    .navbar .navbar-nav .nav-item {
        display: inline-block;
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar .sidebar-menu {
        padding: 45px 30px 30px 30px;
    }

    .testimonial-card .person-testimonial {
        font-size: 22px;
        line-height: 38px;
        margin-top: 30px;
    }

    .sidebar img {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar-menu .close-sidebar {
        top: 3%;
    }

}

@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
    }

    .navbar-brand {
        position: relative;
        top: auto;
    }

    .navbar-links {
        display: none;
    }

    .navbar-brand img {
        width: 50%;
    }

    .right-nav-list .navbar-nav {

        flex-direction: row !important;
    }

    .right-nav-list {
        margin-right: 6%;
    }

    .faq-section #accordion h5 .btn-link {
        white-space: normal;
    }
}

@media screen and (max-width: 991px) {


    .testimonial-card img {
        position: relative;
        margin-top: -75%;
    }

    .testimonial-card {
        padding: 50px 10px 80px 10px;
    }

    .testimonial-card .person-testimonial {
        font-size: 20px;
        line-height: 32px;
        margin-top: 30px;
    }

    .service-row {
        padding: 0;
    }

}

@media screen and (max-width: 768px) {
    .banner-section .banner-img {
        background-position-x: 50%;
    }

    .navbar>.container {
        max-width: 100% !important;
    }

}

@media screen and (max-width: 767px) {
    .service-head .col {
        flex-basis: calc(90%/2) !important;
    }

    .what-we-do-row {
        margin-right: -15px;
        padding: 0 15px;
    }

    .showcase-section .carousel-captn p {
        padding: 0;
    }

    .nutriment-row {
        margin-right: -15px;
        padding: 0 15px;
    }

    .testimonial-card img {
        margin-top: 0;
    }

    .testimonial-card {
        height: auto;
        margin-bottom: 10px;
    }

    .faq-heading p {
        padding: 0
    }

    .faq-heading .card-header {
        padding: 5px;
        text-align: left;
    }



}

@media screen and (max-width: 500px) {
    .sidebar .sidebar-menu {
        padding: 34px 30px 30px 30px;
    }

    .sidebar-menu .sidebar-menu-list li a {
        font-size: 16px;
    }

    .right-nav-list {
        margin-right: 12%;
    }

    .right-nav-list a {
        font-size: 14px;
    }

    .navbar-brand img {
        width: 45%;
    }

    .banner-txt p {
        font-size: 20px;
    }

    .banner-txt h1 {
        font-size: 40px;
    }

    .what-we-do-row .get-started-btn {
        margin-bottom: 20px;
    }

    .what-we-do-row h2 {
        margin: 10px !important;
    }
}

@media screen and (max-width: 425px) {
    .banner-txt .banner-cta {
        padding: 8px 20px;
        font-size: 14px;

    }
}

@media screen and (max-width: 375px) {

    .navbar>div {
        justify-content: start !important;
    }

    .what-we-do-row .get-started-btn {
        margin-bottom: 20px;
    }

    .navbar>div>div {
        flex-basis: calc(34%/1);
    }

    .right-nav-list {
        flex-basis: calc(53%/1) !important;
    }

    .right-nav-list li:last-child a {
        font-size: 13px;
    }

    .right-nav-list li {
        padding: 0 8px;
    }

}